<div th:fragment="userBookedView">
    <div class="container-fluid page-body-wrapper">
    
        <div class="theme-setting-wrapper">
          <div id="settings-trigger"><i class="typcn typcn-cog-outline"></i></div>
          <div id="theme-settings" class="settings-panel">
            <i class="settings-close typcn typcn-delete-outline"></i>
            <p class="settings-heading">SIDEBAR SKINS</p>
            <div class="sidebar-bg-options" id="sidebar-light-theme">
              <div class="img-ss rounded-circle bg-light border mr-3"></div>
              Light
            </div>
            <div class="sidebar-bg-options selected" id="sidebar-dark-theme">
              <div class="img-ss rounded-circle bg-dark border mr-3"></div>
              Dark
            </div>
            <p class="settings-heading mt-2">HEADER SKINS</p>
            <div class="color-tiles mx-0 px-4">
              <div class="tiles success"></div>
              <div class="tiles warning"></div>
              <div class="tiles danger"></div>
              <div class="tiles primary"></div>
              <div class="tiles info"></div>
              <div class="tiles dark"></div>
              <div class="tiles default border"></div>
            </div>
          </div>
        </div>
      
      
	   <div th:replace="~{fragments/userSideNav :: userSideNav}">
	   </div>
        
	    <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-sm-6">
                <h3 class="mb-0 font-weight-bold" th:text="${session.username}"></h3>
                
              </div>
              <div class="col-sm-6">
                <div class="d-flex align-items-center justify-content-md-end">
                  <div class="mb-3 mb-xl-0 pr-1">
                      <div class="dropdown">
                        <button class="btn bg-white btn-sm dropdown-toggle btn-icon-text border mr-2" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="typcn typcn-calendar-outline mr-2"></i>Last 7 days
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuSizeButton3" data-x-placement="top-start">
                          <h6 class="dropdown-header">Last 14 days</h6>
                          <a class="dropdown-item" href="#">Last 21 days</a>
                          <a class="dropdown-item" href="#">Last 28 days</a>
                        </div>
                      </div>
                  </div>
                  <div class="pr-1 mb-3 mr-2 mb-xl-0">
                    <button type="button" class="btn btn-sm bg-white btn-icon-text border"><i class="typcn typcn-arrow-forward-outline mr-2"></i>Export</button>
                  </div>
                  <div class="pr-1 mb-3 mb-xl-0">
                    <button type="button" class="btn btn-sm bg-white btn-icon-text border"><i class="typcn typcn-info-large-outline mr-2"></i>info</button>
                  </div>
                </div>
              </div>
            </div>
           <br>
           <br> 
		  <div  th:each="sb:${sbList}" class="card mb-3" >
		  <div class="row g-0">
		    <div class="col-md-4">
		      <img th:src="@{'/assets/'+ ${sb.serviceImg}}"  alt="${sb.serviceImg}" style="height: 200px;">
		    </div>
		     <div class="col-md-8">
                <!-- Your card body -->
                <div class="card-body">
                    <!-- Title column -->
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title" th:text="${sb.serviceName}">Service Name</h5>
                        </div>
                    </div>
                    <!-- Content columns -->
                    <div class="row">
                        <div class="col">
                       		<p>
                                <b>Booked Id:</b> <span class="card-text" th:text="${sb.id}"></span>
                            </p>
                             <p>
                                <b>Username:</b> <span class="card-text" th:text="${sb.username}"></span>
                            </p>
                             <p>
                                <b>Email:</b> <span class="card-text" th:text="${sb.email}"></span>
                            </p>
                             <p>
                                <b>Service Type:</b> <span class="card-text" th:text="${sb.serviceType}"></span>
                            </p>
                             <p>
                                <b>Vehicle No:</b> <span class="card-text" th:text="${sb.vehicleNo}"></span>
                            </p>
                            
                        </div>
                        <div class="col">
                            <!-- Second column content -->
                             <p>
                                <b>Booked For:</b> <span class="card-text" th:text="${sb.date}"></span>
                            </p>
                             <p>
                                <b>Company:</b> <span class="card-text" th:text="${sb.companyName}"></span>
                            </p>
                             <p>
                                <b>Bike Model:</b> <span class="card-text" th:text="${sb.bikeModel}"></span>
                            </p>
                             <p>
                                <b>Service Status:</b> <span class="card-text" th:text="${sb.status}"></span>
                            </p>
                            <p class="card-text">
                              <b>Applied on: </b><span class="text-body-secondary" th:text="${sb.appliedDate}"></span>
                            </p>
                            
                          <div class="row">
						    <div class="col">
							        <a th:href="@{'/cancelBooking/'+${sb.id}}" class="btn btn-danger btn-icon-text btn-md" role="button">Cancel</a>
						    </div>
						    <div class="col">
						        <a th:href="@{'/payBill/'+${sb.id}+'/'+${sb.serviceName}}" class="btn btn-success btn-icon-text btn-md" role="button">Pay Bill</a>
						    </div>
						</div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		</div>
		
		<div class="modal fade" id="BillModal" tabindex="-1" aria-labelledby="BillLabel" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered">
		    <div class="modal-content">
		      <div class="modal-header bg-primary">
		        <div class="d-flex justify-content-between align-items-center w-100">
		          <h1 class="modal-title text-center w-100 fs-5 text-white">Bill</h1>
		          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		        </div>
		      </div>
		      
		      <div class="modal-body">
			    <form action="https://rc-epay.esewa.com.np/api/epay/main/v2/form" method="post">
			        <p><b>Note:</b> You can only pay through e-sewa for instance </p>
			        <div class="row mb-3">
			            <p>
			                <b>Service Type:</b> <span class="card-text" th:text="${session.serviceName}"></span>
			            </p>
			            <p>
			                <b>Total Cost:</b> <span class="card-text" th:text="${session.price}"></span>
			            </p>
			        </div>
			        <input type="text" id="amount" name="amount" th:value="${session.price}" required>
			        <input type="text" id="tax_amount" name="tax_amount" value="0" required>
			        <input type="text" id="total_amount" name="total_amount" th:value="${session.price}" required>
			        <input type="text" id="transaction_uuid" name="transaction_uuid" th:value="${session.id}" required>
			        <input type="text" id="product_code" name="product_code" th:value="${session.serviceName}" required>
			        <input type="text" id="product_service_charge" name="product_service_charge" value="0" required>
			        <input type="text" id="product_delivery_charge" name="product_delivery_charge" value="0" required>
			        <input type="text" id="success_url" name="success_url" th:value="'https://esewa.com.np'" required>
			        <input type="text" id="failure_url" name="failure_url" th:value="'https://google.com'" required>
			        <input type="text" id="signed_field_names" name="signed_field_names" th:value="${session.fieldName}" required>
			        <input type="text" id="signature" name="signature" th:value="${session.signature}" required>
		          
			        <div class="row">
			            <div class="col text-center">
			                <br><br>
			                <button type="submit" class="btn btn-primary col-md-4">Send</button>
			                <br><br>
			            </div>
			        </div>
			    </form>
			</div>


                    
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-center text-sm-left d-block d-sm-inline-block">Copyright © <a href="https://www.bootstrapdash.com/" target="_blank">MotoMend</a> 2024</span>
            
            </div>
          </footer>
          <!-- partial -->
        </div>
      </div>


        
        </div>