<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin</title>
    <!-- base:css -->
    <link rel="stylesheet" th:href="@{/admin/vendors/typicons.font/font/typicons.css}">
    <link rel="stylesheet" th:href="@{/admin/vendors/css/vendor.bundle.base.css}">
    <!-- endinject --> 
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" th:href="@{/admin/css/vertical-layout-light/style.css}">
    <!-- endinject -->
    <link rel="shortcut icon" th:href="@{/admin/images/favicon.png}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="/admin/vendors/mdi/css/materialdesignicons.min.css">
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
     <div th:replace="~{fragments/adminNav :: adminNav}">
     
     </div>
      

	<div th:replace="~{fragments/adminStatusEditForm:: StatusEdit}"></div>
    </div>
    <!-- container-scroller -->
    <!-- base:js -->
    
     <script>
    // Get the current date
    let currentDate = new Date();
    
    // Format the date to YYYY-MM-DD (as required by type="date")
    let formattedDate = currentDate.toISOString().slice(0, 10);
    
    // Set the value of the hidden input field
    document.getElementById("currentDateInput").value = formattedDate;
  </script>
    <script src="/admin/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="/admin/js/off-canvas.js"></script>
    <script src="/admin/js/hoverable-collapse.js"></script>
    <script src="/admin/js/template.js"></script>
    <script src="admin/js/settings.js"></script>
    <script src="admin/js/todolist.js"></script>
    <!-- endinject -->
    <!-- plugin js for this page -->
    <script src="/admin/vendors/progressbar.js/progressbar.min.js"></script>
    <script src="admin/vendors/chart.js/Chart.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- Custom js for this page-->
    <script src="/admin/js/dashboard.js"></script>
    <script th:src="@{/js/urlreset.js}"></script>
  </body>
</html>